**\.idea
SortingAlgorithms/.idea/workspace.xml
SortingAlgorithms/cmake-build-debug
SortingAlgorithms/.idea/workspace.xml
SortingAlgorithms/cmake-build-debug/Bubble_Sort.cbp
SortingAlgorithms/cmake-build-debug/Bubble_Sort.exe
SortingAlgorithms/cmake-build-debug/cmake_install.cmake
SortingAlgorithms/cmake-build-debug/CMakeCache.txt
SortingAlgorithms/cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_C.bin
SortingAlgorithms/cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_CXX.bin
SortingAlgorithms/cmake-build-debug/CMakeFiles/3.13.2/CMakeSystem.cmake
SortingAlgorithms/cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/a.exe
SortingAlgorithms/cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/a.exe
SortingAlgorithms/cmake-build-debug/CMakeFiles/Bubble_Sort.dir/build.make
SortingAlgorithms/cmake-build-debug/CMakeFiles/Bubble_Sort.dir/CXX.includecache
SortingAlgorithms/cmake-build-debug/CMakeFiles/Bubble_Sort.dir/depend.internal
SortingAlgorithms/cmake-build-debug/CMakeFiles/Bubble_Sort.dir/DependInfo.cmake
SortingAlgorithms/cmake-build-debug/CMakeFiles/Bubble_Sort.dir/main.cpp.obj
SortingAlgorithms/cmake-build-debug/CMakeFiles/Bubble_Sort.dir/objects.a
SortingAlgorithms/cmake-build-debug/CMakeFiles/clion-log.txt
SortingAlgorithms/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
SortingAlgorithms/cmake-build-debug/CMakeFiles/CMakeOutput.log
SortingAlgorithms/cmake-build-debug/CMakeFiles/feature_tests.bin
SortingAlgorithms/cmake-build-debug/CMakeFiles/Makefile2
SortingAlgorithms/cmake-build-debug/CMakeFiles/TargetDirectories.txt
SortingAlgorithms/cmake-build-debug/Makefile
.idea/
Lib/
Scripts/
pyvenv.cfg
__pycache__/